@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: -webkit-linear-gradient(
      306deg,
      rgba(4, 1, 71, 1) 0%,
      rgba(0, 0, 0, 0.51) 100%
    ),
    url('/movie_background.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  padding: 20px;
  color: white;
}
