@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: -webkit-linear-gradient(
      306deg,
      rgba(4, 1, 71, 1) 0%,
      rgba(0, 0, 0, 0.51) 100%
    ),
    url('/movie_background.jpg');
  height: 100%;
  background-size: cover;
  padding: 20px;
}
